.body{
	background-color: #40ffb6;

}
h1{
	text-align: center;
	padding: 16px;
}


.menu{
	position: relative;
	float: left;
/**/	left: -260px;
	width: 260px;
	height: 100vh;
	background-color: crimson;
	color: white;
	z-index: 999;
	transition: all 2.0s;
	display: block;

}


.menu-open{
	left: -5px;
	background-color: #2b9fa6;
}


.close-btn{
	display: block;
	height: 60px;
	font-size: 30px;
	float: right;
	padding: 0 10px;
	background-color: crimson;
	cursor: pointer;
	position: absolute;
	left: 260px;
	line-height: 60px;
	transition: all 2.0s;


}

.open-btn{
	background-color: #2b9fa6;

}


#father > li{
	list-style-type: none;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	border-bottom: 1px solid
	black;

}

li:hover{
	background-color: #04faef;
	color: black;
}

#son{
	display: none;
	width: 80% !important;
}

#son > li {
	background-color: #04faef;
	color: black;
}#son > li:hover{
	background-color: crimson;
}


#Leagues{
	display: none;
	width: 80% !important;
}

#Leagues > li {
	background-color: #04faef;
	color: black;
}#Leagues > li:hover{
	background-color: crimson;
}

.about{
	color: white;
	text-decoration: none;
}

.wel{

	font-family: Brush Script MT; 
	font-size: 50px;
	text-align: center;
	color: gray;
	padding-right: 500px;
	position: relative; bottom:30px;

}

.back{
	background-image: url('field.jpg');
	background-size: 100%; 
	position: relative; left: 250px; bottom: 68px;
	width: 1000px;
	height: 550px;
}
.all{
	padding-left: 300px;
	padding-right: 300px;
}
#myInput {
  background-image: url('searchicon1.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 93.5%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  position: relative;bottom: 15px;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

